* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

#container 	 {
	margin: 0 auto;
}

#expenses{
	display: none;
}

#webBody {
	width: 100%;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	justify-content: center !important;
	align-items: center;
}

#loginForm {
	width: 275px !important;
	background-color: rgba(125, 170, 190, 0.5);
	padding: 20px;
	border-radius: 15px;
}

h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-decoration: underline;
	color: #dedede;
	text-align: center;
	margin-bottom: 50px;
}

h1.login {
    margin: 0 0 0  10px;
    text-decoration: none;
}

h1.expense {
    margin: 15px 0 0 0;
    color: #1F1F29;
    text-decoration: none;
    text-shadow: -2px 1px rgba(0,0,0,0.5);
}